spring:
  datasource:
    url: jdbc:mysql://localhost:3306/car_rental_system?createDatabaseIfNotExist = true
    username:
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show_sql: true
